
@media (min-width:767px) {
.col-lg-1:nth-child(12n+1), .col-lg-2:nth-child(6n+1), .col-lg-3:nth-child(4n+1), .col-lg-4:nth-child(3n+1), .col-lg-6:nth-child(2n+1), .col-md-1:nth-child(12n+1), .col-md-2:nth-child(6n+1), .col-md-3:nth-child(4n+1), .col-md-4:nth-child(3n+1), .col-md-6:nth-child(2n+1) {
	clear: none
}
}

@media (min-width:992px) {
.col-lg-1:nth-child(12n+1), .col-lg-2:nth-child(6n+1), .col-lg-3:nth-child(4n+1), .col-lg-4:nth-child(3n+1), .col-lg-6:nth-child(2n+1), .col-sm-1:nth-child(12n+1), .col-sm-2:nth-child(6n+1), .col-sm-3:nth-child(4n+1), .col-sm-4:nth-child(3n+1), .col-sm-6:nth-child(2n+1) {
	clear: none
}
.col-md-1:nth-child(12n+1), .col-md-2:nth-child(6n+1), .col-md-3:nth-child(4n+1), .col-md-4:nth-child(3n+1), .col-md-6:nth-child(2n+1) {
	clear: left
}
}

@media (min-width:1200px) {
.col-md-1:nth-child(12n+1), .col-md-2:nth-child(6n+1), .col-md-3:nth-child(4n+1), .col-md-4:nth-child(3n+1), .col-md-6:nth-child(2n+1), .col-sm-1:nth-child(12n+1), .col-sm-2:nth-child(6n+1), .col-sm-3:nth-child(4n+1), .col-sm-4:nth-child(3n+1), .col-sm-6:nth-child(2n+1) {
	clear: none
}
.col-lg-1:nth-child(12n+1), .col-lg-2:nth-child(6n+1), .col-lg-3:nth-child(4n+1), .col-lg-4:nth-child(3n+1), .col-lg-6:nth-child(2n+1) {
	clear: left
}
}

@media(min-width:1280px) and (max-width:1599px) {
.submit-listing .category-based-fields ul.my_fields li {
	width: 33%
}
.header-type-3 .mega-menu .menu-links>li>a {
	padding: 0 9px
}
.header-type-3 .mega-menu .menu-button li {
	margin-right: 10px;
	margin-left: 10px
}
}

@media(min-width:1024px) and (max-width:1279px) {
.dwt-new-short9 {
	position: relative;
	min-height: 50vh
}
.hiw-img-2 {
	right: 120px
}
.hiw-main-box .hiw-single-box {
	padding: 50px 30px 20px
}
.dwt-new-hero h3 {
	font-size: 30px
}
.dwt-new-hero span.sub-head {
	font-size: 18px;
	line-height: 24px;
	margin-top: 0
}
.new-hero-search-bar {
	border-radius: 0;
	padding: 10px 20px;
	margin-top: 45px
}
.new-hero-search-bar .form-group::after {
	background: none
}
.new-hero-search-bar .form-group {
	margin-bottom: 5px
}
.new-hero-explore-section {
	height: auto;
	position: relative;
	padding: 160px 0 120px
}
.leftSidebar, .rightSidebar {
	display: none
}
.buisness-listing-section .counter-seprator {
	width: 25%
}
.submit-listing .category-based-fields ul.my_fields li {
	width: 33%
}
.ad-archive-desc ul.add_info {
	display: none
}
.no-container>.left-area {
	width: 100%
}
.no-container>.right-area {
	width: 70%
}
.list-bottom-area .dwt_listing_countdown-timer li {
	width: 25%px
}
.app-section.bg-gray .heading-2 {
	padding-top: 0
}
.pricing-item {
	-webkit-flex: 0 1 285px;
	flex: 0 1 285px
}
#intro-hero .highlighted-text img {
	display: none
}
.subscribe-section .heading-2 h3 {
	font-size: 16px
}
.subscribe-section .announcement-img img {
	margin-top: 10px
}
.main-event blockquote {
	font-size: 30px
}
.home-main-2 .category-section {
	margin-top: 120px
}
.home-main-2 .main-arrow {
	left: 0
}
#papular-listing .owl-carousel .owl-nav .owl-prev {
	left: -20px
}
#papular-listing .owl-carousel .owl-nav .owl-next {
	right: -20px
}
.app-section {
	text-align: center
}
.app-section .heading-2 {
	text-align: center
}
.app-section .apps-buttons {
	margin-bottom: 20px
}
.category-list-modern ul li {
	width: 31.9%
}
.category-list-modern ul li:nth-child(3n) {
	margin-right: 0
}
.listing-section .pagination {
	margin-bottom: 30px
}
.right-part {
	display: none
}
.left-part {
	width: 100%
}
.counter-seprator {
	width: 33%;
	padding: 40px 15px
}
.funfacts .counter-box .counter-stats, .funfacts h3 {
	font-size: 16px
}
.funfacts .counter-box {
	padding-top: 10px
}
.dashboard .profile-states {
	margin-top: 30px
}
.mt-30 {
	margin-top: 30px
}
.dashboard .cover-image {
	display: none
}
.dashboard .profile-detail-area .profile-followers img {
	height: auto
}
.profile-followers .profile-follower-detail h4 {
	margin-top: 0
}
.dashboard .profile-detail-area .profile-listing-actions a {
	margin-right: 5px
}
.profile-review-box .profile-review-box-info {
	width: 84%
}
.submit-listing .nav-tabs.step-anchor {
	width: 100%;
	margin-right: 0
}
.submit-listing .tab-content {
	width: 100%;
	margin-left: 0
}
.submit-listing .category-based-features ul li {
	width: 100%
}
.transparent-breadcrumb-listing {
	padding-bottom: 60px;
	padding-top: 190px
}
.single-post .review-box .review-author-right .review-author-detail .image-gallery img {
	width: 115px
}
.single-post .review-box .review-author-right .review-author-detail .image-gallery .review-img-container {
	margin-right: 5px;
	margin-bottom: 5px
}
#intro-hero h2 {
	font-size: 30px
}
.hero-title {
	color: #fff;
	font-size: 20px
}
#intro-hero .owl-carousel .owl-nav .owl-prev {
	background-color: transparent;
	color: #FFF;
	left: -20px;
	position: absolute;
	top: 15px
}
#intro-hero .owl-carousel .owl-nav .owl-next {
	background-color: transparent;
	color: #FFF;
	right: -20px;
	position: absolute;
	top: 15px
}
.listing-section .widget.papular-listing-2 .listing-item {
	width: 100%
}
#intro-hero .category-section {
	margin-top: 60px
}
#intro-hero .category-section .category-list1 a {
	width: 127px
}
.footer {
	padding-bottom: 50px
}
.mega-menu.transparent .menu-links>li>a {
	font-size: 14px;
	line-height: 30px;
	color: #fff;
	width: 100%;
	padding: 10px 15px
}
.menu-transparent .mega-menu .menu-list-items .menu-links .drop-down-multilevel {
	top: 65px
}
.events-type-list .ad-archive-desc {
	padding: 10px 0
}
.events-type-list .ad-archive-desc h3 {
	font-size: 16px;
	margin-top: 5px;
	margin-bottom: 5px
}
.events-type-list .ads-list-archive .event-stats ul li {
	font-size: 12px
}
.s-listing-gallery li.s-gallery-box {
	width: 33%
}
}

@media(min-width:768px) and (max-width:1023px) {
.vc_row {
	margin: 0 !important;
}
.vc_column_container {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.vc_column_container > .vc_column-inner {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
margin-from-top-minimal {
	margin-top: 30px
}
body {
	overflow-x: hidden;
}
#papular-listing .owl-carousel .owl-stage-outer {
	overflow: hidden;
}
.minimal-btnz-dwt .text-right {
	text-align: left
}
.c-call-to-action::before {
	width: 100%
}
.c-call-to-action::after {
	display: none
}
.custom-img {
	display: none
}
.dwt-new-short9 .new-hero1 {
	width: 85%
}
.dwt-new-short9 {
	position: relative;
	min-height: 50vh
}
.hiw-img-2 {
	right: 146px
}
.hiw-main-box .hiw-single-box {
	padding: 50px 30px 20px
}
.dwt-new-hero h3 {
	font-size: 30px
}
.dwt-new-hero span.sub-head {
	font-size: 18px;
	line-height: 24px;
	margin-top: 0
}
.new-hero-search-bar {
	border-radius: 0;
	padding: 10px 20px;
	margin-top: 45px
}
.new-hero-search-bar .form-group::after {
	background: none
}
.new-hero-search-bar .form-group {
	margin-bottom: 5px
}
.new-hero-explore-section {
	height: auto;
	position: relative;
	padding: 70px 0 120px
}
.leftSidebar, .rightSidebar {
	display: none
}
.buisness-listing-section .counter-seprator {
	width: 25%
}
#intro-hero .highlighted-text img {
	display: none
}
.subscribe-section .heading-2 h3 {
	font-size: 16px
}
.subscribe-section .announcement-img img {
	margin-top: 10px
}
.main-event blockquote {
	font-size: 30px
}
.home-main-2 .category-section {
	margin-top: 70px
}
.home-main-2 .main-arrow {
	left: 0;
	display: none
}
#papular-listing .owl-carousel .owl-nav .owl-prev {
	left: -20px
}
#papular-listing .owl-carousel .owl-nav .owl-next {
	right: -20px
}
.app-section {
	text-align: center
}
.app-section .heading-2 {
	text-align: center
}
.app-section .apps-buttons {
	margin-bottom: 20px
}
.category-list-modern ul li {
	width: 31.9%
}
.category-list-modern ul li:nth-child(3n) {
	margin-right: 0
}
.listing-section .pagination {
	margin-bottom: 30px
}
.right-part {
	display: none
}
.left-part {
	width: 100%
}
.counter-seprator {
	width: 33%;
	padding: 40px 15px
}
.funfacts .counter-box .counter-stats, .funfacts h3 {
	font-size: 16px
}
.funfacts .counter-box {
	padding-top: 10px
}
.dashboard .profile-states {
	margin-top: 30px
}
.mt-30 {
	margin-top: 30px
}
.dashboard .cover-image {
	display: none
}
.dashboard .profile-detail-area .profile-followers img {
	height: auto
}
.profile-followers .profile-follower-detail h4 {
	margin-top: 0
}
.dashboard .profile-detail-area .profile-listing-actions a {
	margin-right: 5px
}
.profile-review-box .profile-review-box-info {
	width: 84%
}
.submit-listing .nav-tabs.step-anchor {
	width: 100%;
	margin-right: 0
}
.submit-listing .tab-content {
	width: 100%;
	margin-left: 0
}
.submit-listing .category-based-features ul li {
	width: 100%
}
.transparent-breadcrumb-listing {
	padding-bottom: 60px;
	padding-top: 190px
}
.single-post .review-box .review-author-right .review-author-detail .image-gallery img {
	width: 115px
}
.single-post .review-box .review-author-right .review-author-detail .image-gallery .review-img-container {
	margin-right: 5px;
	margin-bottom: 5px
}
#intro-hero h2 {
	font-size: 30px
}
.hero-title {
	color: #fff;
	font-size: 20px
}
#intro-hero .owl-carousel .owl-nav .owl-prev {
	background-color: transparent;
	color: #FFF;
	left: -20px;
	position: absolute;
	top: 8px
}
#intro-hero .owl-carousel .owl-nav .owl-next {
	background-color: transparent;
	color: #FFF;
	right: -20px;
	position: absolute;
	top: 8px
}
.listing-section .widget.papular-listing-2 .listing-item {
	width: 49.3%;
	margin-right: 5px;
	margin-bottom: 5px
}
#intro-hero .category-section {
	margin-top: 60px
}
#intro-hero .category-section .category-list1 a {
	width: 110px
}
.footer {
	padding-bottom: 50px
}
.mega-menu.transparent .menu-links>li>a {
	font-size: 14px;
	line-height: 30px;
	color: #555;
	width: 100%;
	padding: 10px 15px;
	border-bottom: 1px solid #f5f5f5
}
.menu-transparent .mega-menu .menu-list-items .menu-links .drop-down-multilevel {
	top: 0
}
.mega-menu.transparent .menu-button {
	position: absolute;
	right: 100px;
	top: 5px
}
.for-shortcodes.list-boxes .ad-archive-img {
	display: none
}
.list-bottom-area .dwt_listing_countdown-timer {
	padding: 12px 0 8px
}
.no-container>.left-area {
	display: none
}
.no-container {
	display: block;
	height: auto;
	table-layout: inherit;
	width: 100%;
	position: relative;
	overflow: hidden
}
.no-container>.right-area {
	background: #f1f2f6 none repeat scroll 0 0;
	display: block;
	width: 100%
}
.no-container>.right-area .ad-archive-desc {
	padding: 25px 5px 10px
}
.no-container .ads-listing-history .ad-archive-desc h3 {
	margin-top: 5px;
	margin-bottom: 15px
}
.filter-zone {
	margin-top: 30px
}
.header-type-3 .mega-menu .menu-list-items .menu-links .drop-down-multilevel {
	top: inherit
}
.mega-menu .drop-down-multilevel {
	box-shadow: none
}
.header-type-2 .mega-menu.header2 .menu-list-items .menu-links .drop-down-multilevel {
	top: inherit
}
.header-type-2 .mega-menu.header2 .menu-button {
	position: absolute;
	right: 100px
}
.header-type-2 .mega-menu.header2 .menu-logo>li {
	margin-top: 0
}
.header-type-2 {
	min-height: 65px;
	position: relative
}
.header2 {
	min-height: 65px;
	z-index: 9
}
.header-type-2 .mega-menu.header2 .menu-logo>li>a {
	padding: 10px 15px 0
}
.header-type-2 .mega-menu.header2 .menu-links>li>a {
	font-size: 14px;
	line-height: 30px;
	color: #555;
	width: 100%;
	padding: 10px 15px;
	border-bottom: 1px solid #f5f5f5
}
.header-type-2 .mega-menu.header2 .menu-mobile-collapse-trigger {
	top: 0;
	height: 65px;
	width: 85px
}
.header-type-2 .mega-menu.header2 .menu-mobile-collapse-trigger::before, .mega-menu.header2 .menu-mobile-collapse-trigger::after, .mega-menu.header2 .menu-mobile-collapse-trigger span {
	margin: 7px auto
}
.header-type-3 .header-top .top-search-form {
	margin-bottom: 10px
}
.header-type-3 .mega-menu .menu-logo {
	margin-bottom: 22px
}
.header-type-3 .mega-menu .menu-links>li>a {
	font-size: 14px;
	line-height: 30px;
	color: #555;
	width: 100%;
	padding: 10px 15px;
	border-bottom: 1px solid #f5f5f5
}
.header-type-3 .mega-menu .menu-links {
	margin-bottom: 20px
}
.mega-menu .drop-down-multilevel li {
	border-bottom: medium none
}
.menu-transparent .mega-menu .menu-list-items .menu-links .drop-down-multilevel {
	border: medium none;
	padding: 0
}
.menu-transparent .mega-menu .drop-down-multilevel li>a {
	border-bottom: 1px solid #f5f5f5
}
.menu-transparent .mega-menu .menu-links>li>a {
	border-bottom: 1px solid #f5f5f5
}
.menu-transparent .mega-menu .menu-list-items .menu-links .drop-down-multilevel li .drop-down-multilevel {
	left: 0
}
.menu-transparent .mega-menu .menu-list-items .menu-links .drop-down-multilevel li .drop-down-multilevel li .drop-down-multilevel {
	border: medium none
}
.submit-listing .category-based-fields ul.my_fields li {
	width: 33%
}
.search-section .search-options > li, .search-section .search-options > li:nth-child(2), .search-section .search-options > li:nth-child(3) {
	width: 33%
}
.classical-hero img {
	margin-top: 86px
}
.hero-content-extra {
	width: 100%
}
.hero-youtube .hero-tagline {
	width: 70%
}
.s-listing-gallery li.s-gallery-box {
	width: 50%
}
}

@media(min-width:320px) and (max-width:767px) {
.heading-2 h2, .dwt-new-hero h3 {
	font-size: 22px
}
.heading-2 h3 {
	font-size: 18px
}
.dwt-new-hero span.sub-head {
	font-size: 16px
}
.new-layer-image, .leftSidebar, .rightSidebar {
	display: none
}
.new-hero-search-bar {
	border-radius: 0;
	padding: 10px 20px
}
.new-hero-search-bar .form-group {
	margin-bottom: 10px
}
.new-hero-search-bar .form-group::after {
	background: none
}
.dwt-new-catz .e-cat-box .e-cat-name {
	font-size: 20px
}
.e-cat-box p {
	font-size: 14px
}
.hiw-heading h2 {
	font-size: 18px
}
.blog-inner-box img {
	width: 100%
}
.buisness-listing-section .counter-seprator {
	width: 50%
}
.new-hero-explore-section {
	height: auto;
	padding: 50px 0 160px
}
.single-post-2 .column-accordian .column div img {
	min-width: 100%;
	max-width: 100%
}
.single-post-2 .column-accordian>.column>div {
	width: auto
}
.single-post-2 .column-accordian>.column {
	height: auto;
	flex: 0 1 0
}
.mega-menu.transparent .menu-mobile-collapse-trigger {
	background: none;
	width: 40px;
	right: 0
}
.mega-menu.transparent .menu-logo {
	width: 100%;
	margin-bottom: 20px
}
.mega-menu.transparent .menu-button {
	float: none;
	width: 100%;
	margin-bottom: 0;
	position: relative
}
.mega-menu.transparent .menu-button li.post-btn {
	float: right;
	margin-right: 0
}
.mega-menu.transparent .menu-links {
	float: right;
	background-color: #fff
}
.mega-menu.transparent .menu-links, .n-header-4 .menu-links {
	background-color: #fff;
	border: 1px solid #f5f5f5
}
.menu-transparent {
	border-bottom: medium none
}
.mega-menu.transparent .menu-links >li > a, .n-header-4 .mega-menu .menu-links >li > a {
	font-size: 14px;
	line-height: 30px;
	color: #242424;
	width: 100%;
	padding: 10px 15px
}
.n-header-4 .mega-menu .menu-links > li > a {
	border-bottom: 1px solid #f5f5f5
}
.mega-menu.transparent .menu-links>li.activeTriggerMobile>a, .mega-menu.transparent .menu-links>li.activeTriggerMobile>a:hover {
	color: #e52d27
}
.mega-menu.transparent .menu-links>li>a:hover {
	color: #e52d27
}
#intro-hero .hero-title {
	font-size: 18px
}
#intro-hero h2 {
	font-size: 26px
}
#intro-hero .hero-text-box {
	margin-top: 50px
}
#intro-hero .highlighted-text {
	left: auto;
	top: 120px
}
.cities-grid-area-2 .title-content {
	margin: 30px 0 0
}
.subscribe-section .announcement-img img {
	margin: 0 auto;
	display: block
}
.subscribe-section .subscription-form {
	margin-top: 20px
}
.main-event .event-box:before, .main-event .event-box:after {
	content: normal
}
.main-event .event-title {
	position: relative;
	font-size: 22px;
	top: auto;
	left: auto
}
.main-event .event-inner {
	padding: 0
}
.main-event blockquote {
	font-size: 20px;
	line-height: normal
}
.main-event .event-date {
	font-size: 14px
}
.main-event .event-author h2 {
	font-size: 16px
}
.main-event .event-author-box img {
	width: 57px;
	height: 57px
}
.mega-menu.header2 .menu-logo>li {
	margin-top: 0
}
.mega-menu.header2 .menu-logo>li>a {
	padding-bottom: 0
}
.home-main-2 .main-section-area h2 {
	font-size: 30px
}
.home-main-2 .main-section-area p {
	font-size: 16px
}
#papular-listing .owl-carousel .owl-nav .owl-prev {
	left: 0
}
#papular-listing .owl-carousel .owl-nav .owl-next {
	right: 0
}
.home-main-2 {
	height: auto
}
.home-main-2 .category-section {
	margin-top: 50px
}
.home-main-2 .main-arrow {
	left: 10px;
	display: none
}
.app-section .apps-buttons {
	text-align: left
}
.app-section .apps-buttons a {
	margin-bottom: 20px
}
.category-list-modern ul li {
	width: 47.8%;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 15px
}
.category-list-modern ul li:nth-child(even) {
	margin-right: 0
}
.category-list-modern .category-list-modern-single h4 {
	font-size: 14px
}
.ad-archive-desc .last-updated .rating-counter {
	display: none
}
.ad-archive-desc ul.add_info li {
	width: 60px
}
.pagination li>a {
	font-size: 12px
}
.listing-section .pagination {
	margin-bottom: 30px
}
.left-part {
	width: auto
}
.filter {
	width: 100%;
	margin-right: 0;
	margin-bottom: 20px
}
.filter a.dropdown.btn, .filter-timing .btn, .filter a.btn, .filter-rated .btn {
	width: 100%
}
.slider.slider-horizontal {
	width: 100%
}
.about-us h2 {
	font-size: 20px
}
.about-us .large-paragraph {
	font-size: 18px
}
.about-us p {
	font-size: 14px
}
.funfacts .counter-seprator {
	width: 100%;
	padding-top: 0;
	padding-bottom: 30px
}
.post-title {
	font-size: 18px
}
.post-info {
	font-size: 16px
}
.post-info a:last-child {
	margin-left: 0;
	display: block;
	float: none!important
}
.post-excerpt {
	font-size: 14px
}
.blog-detial .comment-info .author-desc {
	margin-left: 0
}
.blog-detial .comment-info .author-title {
	margin-bottom: 20px;
	position: relative;
	overflow: hidden
}
.blog-detial .author-title strong {
	display: block;
	margin-bottom: 10px
}
.blog-detial .comment-info .author-title ul {
	float: none!important
}
.contact-us .contact-detail {
	margin-top: 20px
}
.error-page-section .error-404 h2 {
	font-size: 100px
}
.error-page-section .error-404 h4 {
	font-size: 20px
}
.dashboard .profile-states {
	margin-top: 30px
}
.dashboard .profile-detail-area .notification-box-title a {
	display: block;
	margin-left: 0
}
.dashboard .profile-detail-area .notification-box-title {
	width: 100%
}
.dashboard .profile-detail-area .notification-time {
	float: left
}
.dashboard .profile-detail-area .profile-detail-title a {
	float: left;
	margin-left: 0
}
.dashboard .profile-detail-area .profile-detail-title span {
	font-size: 12px
}
.dashboard .profile-detail-area .profile-detail-title h4 {
	display: block
}
.dashboard .profile-states .state-box .content .numb {
	font-size: 30px
}
.mt-30 {
	margin-top: 30px
}
.dashboard .cover-image {
	display: none
}
.dashboard .profile-detail-area .profile-followers {
	padding: 15px 0
}
.dashboard .profile-detail-area .profile-followers img {
	width: 60px;
	height: 60px;
	margin-left: 10px
}
.profile-followers .profile-follower-detail h4 {
	margin-top: 0
}
.profile-listing-actions a {
	width: 48%;
	float: left;
	margin-bottom: 10px;
	padding: 3px 0;
	text-align: center
}
.profile-listing-actions a i {
	display: none
}
.dashboard .profile-detail-area .profile-listing-actions a:nth-child(odd) {
	margin-right: 0
}
.dashboard .profile-detail-area .profile-listing-box>img {
	width: auto;
	height: auto;
	border-radius: 0
}
.dashboard .profile-detail-area .profile-listing-box-info {
	width: 100%
}
.dashboard .profile-detail-area .profile ul li strong, .dashboard .profile-detail-area .profile ul li span {
	width: 100%
}
.dashboard .profile-states .state-box, .dashboard .profile-detail-area {
	padding: 15px
}
.profile-review-box img {
	display: none
}
.profile-review-box .profile-review-box-info::before {
	content: normal
}
.profile-review-box .profile-review-box-info {
	width: 100%
}
.dashboard .profile-detail-area .profile-review-box-info .profile-review-meta ul li {
	width: 100%;
	margin-right: 0;
	margin-bottom: 10px
}
.dashboard .profile-detail-area .profile-review-box-info .profile-review-box-text .profile-review-reply-box {
	padding-left: 20px
}
.dashboard .profile-detail-area .profile-review-box-info .profile-review-title a {
	margin-left: 0;
	display: block
}
.rating-xs {
	font-size: 1.5em
}
.submit-listing .nav-tabs.step-anchor {
	width: 100%
}
.submit-listing .tab-content {
	width: 100%;
	margin-left: 0;
	padding: 15px
}
.submit-listing .category-based-features ul li {
	width: 100%
}
.submit-listing .sw-btn-group-extra .btn, .submit-listing .sw-btn-group .btn {
	padding: 5px 10px!important;
	font-size: 14px
}
.transparent-breadcrumb-listing {
	padding-bottom: 50px;
	padding-top: 170px
}
.submit-listing .submit-listing-section {
	padding: 15px
}
.submit-listing #business-hours-fields label {
	width: 90%
}
.single-post .list-heading h2 {
	font-size: 24px
}
.single-post .list-meta ul li {
	margin-bottom: 15px
}
.single-post .list-meta ul li::after {
	content: normal
}
.list-detail #panel-1-ctrl:checked~#tabs-list #li-for-panel-1 label.panel-label {
	color: #FFF
}
.short-detail .list-detail h3 {
	font-size: 18px
}
.list-detail ul.listing-other-features li {
	width: 100%;
	margin-bottom: 5px
}
.single-post .list-heading h2 .business-status {
	display: inline-block;
	padding: 3px 10px;
	line-height: 24px;
	margin-left: 0!important;
	margin-top: 10px
}
.post-review .summary-review .text-summary h3 a {
	margin-left: 0!important;
	margin-top: 10px
}
.review-author-detail .review-helpful .report-review .report-review-title {
	display: block
}
.single-post .review-box .review-author-right .review-author-detail .image-gallery img {
	width: 70px
}
.single-post .review-box .review-author-right .review-author-detail .image-gallery .review-img-container {
	margin-bottom: 5px
}
.single-post .review-box .review-author-right .review-author-detail .image-gallery .more-images {
	left: 18px;
	top: 25px;
	font-size: 20px
}
.claim-model .model-form {
	width: 100%
}
.claim-model .model-img {
	display: none
}
.claim-model .modal-body h3 {
	font-size: 20px
}
#intro-hero .hero-text-box {
	position: relative;
	margin-top: 20px
}
.hero-title {
	font-size: 18px
}
#intro-hero h2 {
	font-size: 26px
}
#intro-hero .highlighted-text {
	top: 120px
}
.menu-transparent .mega-menu .menu-list-items .menu-links .drop-down-multilevel {
	top: inherit
}
#intro-hero .category-section .category-list1 {
	display: block;
	text-align: center;
	margin-bottom: 40px
}
.login .modal-dialog {
	width: 100%
}
.hero-list-event .search-container h2 {
	color: #fff;
	font-size: 26px
}
.hero-list-event .search-container .tab .tab-content {
	padding: 40px 30px
}
.hero-list-event .search-container .tab .tab-content .form-group .btn {
	margin-top: 10px
}
.hero-list-event .search-container {
	padding: 170px 0 90px
}
#papular-listing .papular-listing-2-slider.owl-carousel .owl-nav button.owl-next {
	right: -19px
}
#papular-listing .papular-listing-2-slider.owl-carousel .owl-nav button.owl-prev {
	left: -19px
}
.call-to-action h2 {
	color: #FFF;
	font-size: 26px
}
.call-to-action p {
	width: 100%;
	letter-spacing: inherit;
	font-size: 16px
}
.main-search-bar .minict_wrapper, .main-search-bar .form-group {
	margin-bottom: 15px
}
.home-main-2 .owl-stage-outer {
	min-height: 175px
}
.home-main-2 .category-section .category-list1 a {
	width: 125px
}
.dwt_listing_shop-grid-description h2 {
	font-size: 18px;
	font-weight: 500
}
.recent-tab .nav.nav-tabs a {
	font-size: 13px;
	font-weight: 500;
	padding: 10px 15px
}
.event-list-cat img {
	width: 100%
}
.event-hero-intro h2 {
	font-size: 28px;
	font-weight: 600
}
.event-hero-intro p {
	width: 100%
}
.search_box {
	padding: 15px
}
.event-hero-intro-search button {
	margin-left: 0;
	margin-top: 15px
}
.event-hero-intro {
	padding: 246px 0 70px
}
.dwt_listing_timer-count {
	float: none;
	width: 100%
}
.list-bottom-area .dwt_listing_countdown-timer {
	padding: 15px 0
}
.list-bottom-area .dwt_listing_countdown-timer li {
	width: 25%
}
.landing-carousel h1 {
	font-size: 24px
}
.rel-products .nopadding {
	padding-right: 15px;
	padding-left: 15px
}
.list-section-1 .list-box-shadow .form-join {
	padding: 20px 10px
}
.list-section-1 .list-box-shadow .form-join .btn-theme {
	margin-top: 0
}
.custom-sorting-filters .form-inline.pull-right {
	float: none!important
}
.custom-sorting-filters .form-inline .form-group {
	margin-bottom: 0
}
.no-container>.left-area {
	display: none
}
.no-container {
	display: block;
	height: auto;
	table-layout: inherit;
	width: 100%;
	position: relative;
	overflow: hidden
}
.review-box .review-author-left {
	display: none
}
.review-box .review-author-right {
	width: 100%
}
.filter-zone {
	margin-top: 30px
}
.header-type-2 .header2 {
	padding: 20px 10px 0 0
}
.header-type-2 .mega-menu.header2 .menu-logo {
	margin-bottom: 24px
}
.header-type-2 .mega-menu.header2 .menu-button {
	float: none;
	width: 100%;
	margin-bottom: 0;
	position: relative;
	padding-left: 15px
}
.header-type-2 .mega-menu.header2 .menu-button li.post-btn {
	float: right;
	margin-right: 0
}
.header-type-2 .mega-menu.header2 .menu-logo>li>a {
	padding: 10px 15px 0
}
.header-type-2 .mega-menu.header2 .menu-links>li>a {
	font-size: 14px;
	line-height: 30px;
	color: #242424;
	width: 100%;
	padding: 10px 15px;
	border-bottom: 1px solid #f5f5f5
}
.mega-menu .drop-down-multilevel {
	box-shadow: none
}
.header-type-2 .mega-menu.header2 .menu-list-items .menu-links .drop-down-multilevel {
	top: inherit
}
.header-top {
	padding: 25px 0
}
.header-top ul.menu-logo {
	margin-bottom: 25px
}
.header-type-3 .header-top .top-search-form {
	margin-top: 5px;
	margin-bottom: 15px
}
.header-type-3 .header-top .menu-logo img {
	margin-top: 15px
}
.header-type-3 .mega-menu .menu-links>li>a {
	font-size: 14px;
	line-height: 30px;
	color: #555;
	width: 100%;
	padding: 10px 15px;
	border-bottom: 1px solid #f5f5f5
}
.header-type-3 .mega-menu .menu-list-items .menu-links .drop-down-multilevel {
	top: inherit
}
.header-type-3 .mega-menu .menu-button {
	float: none;
	width: 100%;
	margin-bottom: 0;
	position: relative
}
.header-type-3 .mega-menu .menu-button li.ad-listing-btn {
	float: right;
	margin-right: 0
}
.header-type-3 .mega-menu .menu-links {
	margin-bottom: 20px
}
.blog-detial .comment-list .children {
	list-style: outside none none;
	padding-left: 0
}
.mega-menu .drop-down-multilevel li {
	border-bottom: medium none
}
.menu-transparent .mega-menu .menu-list-items .menu-links .drop-down-multilevel {
	border: medium none;
	padding: 0
}
.menu-transparent .mega-menu .drop-down-multilevel li>a {
	border-bottom: 1px solid #f5f5f5
}
.menu-transparent .mega-menu .menu-links>li>a {
	border-bottom: 1px solid #f5f5f5
}
.menu-transparent .mega-menu .menu-list-items .menu-links .drop-down-multilevel li .drop-down-multilevel {
	left: 0
}
.menu-transparent .mega-menu .menu-list-items .menu-links .drop-down-multilevel li .drop-down-multilevel li .drop-down-multilevel {
	border: medium none
}
.menu-transparent .mega-menu .menu-logo li a img {
	margin-top: 13px
}
.submit-listing .category-based-fields ul.my_fields li {
	width: 100%
}
.no-container>.right-area {
	width: 100%;
	display: block
}
.no-container>.right-area>.inner-content {
	height: 100%;
	overflow: hidden
}
.search-section .search-options > li, .search-section .search-options > li:nth-child(2), .search-section .search-options > li:nth-child(3) {
	width: 100%;
	margin-bottom: 20px
}
.hero-content-extra {
	width: 100%;
	margin: 50px auto 40px
}
.classical-hero {
	height: auto;
	min-height: auto
}
.classical-hero img {
	display: none!important
}
.hero-youtube .hero-title {
	font-size: 30px;
	line-height: 1.3
}
.hero-youtube .hero-tagline {
	width: 100%
}
.cardz.card-agent-6 .card-image {
	text-align: center;
	margin: 0 auto
}
.card-agent-6 .card-title, .card-agent-6 p {
	text-align: center
}
.card-agent-6 .agent-button {
	text-align: center
}
.card-agent-6 .agent-button a {
	position: relative
}
.dwt_listing_listing-detialz {
	margin-top: 80px!important
}
.transparen-listing-sidebar {
	top: 0;
	margin-top: 80px
}
.dwt-new-catz .e-cat-box img {
	width: 100%
}
.new-hero-explore-section.with-t-section {
	height: auto;
	padding: 200px 0 160px
}
.dwt-new-short9 .new-hero1 {
	padding-top: 160px;
	padding-bottom: 0;
	width: 100%
}
.dwt-new-short9 {
	position: relative;
	min-height: 60vh
}
.dwt-new-short9 .new-hero1 h3 {
	font-size: 32px
}
.s-listing-gallery li.s-gallery-box {
	width: 100%
}
.dwt_listing_product-details .point-of-action {
	position: relative;
	margin-top: 25px;
	overflow: hidden;
	margin-bottom: 40px
}
.dwt_listing_product-details .point-of-action .quantity {
	padding-right: 0
}
.s-call-action-content {
	padding-top: 160px
}
.s-call-action .s-call-action-content h2 {
	font-size: 26px;
	margin: 0 0 5px
}
.s-call-action .s-call-action-content h3 {
	font-size: 20px;
	margin: 0 0 15px
}
.c-call-to-action::before {
	width: 100%
}
.c-call-to-action::after {
	display: none
}
.custom-img {
	position: relative;
	top: -60px
}
.car-inspection .c-insp-cont {
	padding: 70px 40px
}
.car-inspection .c-img-raper::before {
	width: 100%;
	height: 600px
}
.n-header-4 .mega-menu .menu-button {
	margin-top: 25px
}
.choose-title h2 {
	font-size: 22px;
	margin-bottom: 10px
}
.choose-title h3 {
	font-size: 16px
}
.minimal-btnz-dwt.text-right {
	text-align: left
}
.margin-from-top-minimal {
	margin-top: 30px
}
.dwt_listing_listing-detialz.type-minimal {
	padding: 0
}
.dwt-listingz-detail-minimal .list-heading h2 {
	font-size: 26px
}
#papular-listing .owl-carousel .owl-stage-outer {
	overflow: hidden
}
#papular-listing .papular-listing-2-slider.owl-carousel .owl-nav button.owl-prev, #papular-listing .papular-listing-2-slider.owl-carousel .owl-nav button.owl-next {
	position: relative
}
.navbar-nav > li > a img {
	width: 36px
}
.navbar-btn-right {
	margin-top: 11px
}
.navbar-nav > li > .dropdown-menu {
	width: 100%
}
.new-title-button-section {
	padding: 0
}
.single-page-buttons-section {
	float: none;
	display: table;
	margin: 0 auto
}
.new-title-button-section .list-inline > li {
	display: flex;
	border-bottom: 1px solid #f5f5f5
}
.new-title-button-section .list-inline > li:last-child {
	border-bottom: none
}
.single-title-buttons .new-title-page-button-section li:first-child a {
	padding-left: 23px
}
.single-title-buttons .new-title-page-button-section li a {
	padding: 10px 25px;
	border-right: none;
	width: 100%;
	text-align: center
}
.search-banner .location-filters .tp-bar, .search-banner .location-filters .input-group {
	margin-bottom: 20px
}
.typed-hero-section form {
	width: 100%;
	max-width: 100%
}
.typed-hero-section form .inner-form, .typed-hero-section form .inner-form .left {
	display: block
}
.typed-hero-section form .inner-form .input-wrap.first, .typed-hero-section form .inner-form .input-wrap.second {
	margin-bottom: 10px
}
.typed-hero-section form .btn-search {
	min-width: 100%;
	margin-left: 0
}
.typed-hero-section form fieldset legend {
	line-height: 60px;
}
.papular-listing-2-slider .owl-nav {
	display: table;
	margin: 0 auto;
}
.typed-hero-section {
	min-height: 94vh;
	display: block;
	padding-top: 220px;
}
.vc_column_container > .vc_column-inner {
	padding-left: 0 !important;
	padding-right: 0!important;
}
.vc_column_container {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.vc_row {
	margin: 0 !important;
}
body {
	overflow-x: hidden;
}
ul.menu-links {
	display: none !important;
}
ul.menu-links.show_menu {
	display: block !important;
}

.transparent-breadcrumb-listing.elegent-bread {
    padding-bottom: 0;
    padding-top: 180px;
}

}

@media (min-width:320px) and (max-width:480px) {
.no-container>.left-area {
	display: none
}
#intro-hero .owl-carousel .owl-stage-outer {
	overflow-x: hidden;
	overflow-y: visible;
	height: 100%;
	min-height: 160px
}
.form-join>h4 {
	color: #191919;
	font-size: 20px
}
.login .modal-dialog {
	width: 100%
}
.dwt_listing_shop-grid-description img {
	width: 100%
}
.event-hero-intro h2 {
	font-size: 24px
}
.dwt_listing_timer-icon {
	display: none
}
.dwt_listing_timer-count {
	float: none;
	width: 100%
}
.home-main-2 .category-section .category-list1 a {
	width: 100px
}
.mega-menu .drop-down-multilevel {
	padding: 0 5px
}
.user-information {
	text-align: center
}
}

@media only screen and (max-width:479px) {
#intro-hero .category-section .category-list1 a {
	width: 90px
}
.dashboard-tabs .nav-tabs li a {
	padding: 10px
}
.dashboard-tabs .nav-tabs li.active:before {
	left: 28px;
	bottom: -24px;
	border-width: 12px
}
.dashboard-tabs .nav-tabs li.active:after {
	left: 30px;
	bottom: -20px;
	border-width: 10px
}
}
